<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Adding task</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h2 class="row justify-content-md-center">
        <span class="col-md-auto">Adding task</span>
    </h2>
    <h3 class="row justify-content-md-left">
        <span class="col offset-md-1 w-75 p-2">New task successfully created.</span>
        <br>
        <span class="w-100"></span>
        <br>
        <a class="offset-md-1 btn btn-primary" th:href="@{'/task/' + ${task.id}}">To the page of task</a>
        <span class="w-100"></span>
        <a class="offset-md-1 btn btn-outline-danger" th:href="@{'/main'}">To the main page</a>
    </h3>
</body>
</html>