<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <h2 class="row justify-content-md-center">
        <span class="col-md-auto" th:text="'Task &#34' + ${task.getLabel()} + '&#34:'"></span>
    </h2>
    <br>
    <h3 class="row justify-content-md-center">
        <span class="col offset-md-1 w-75 p-2" th:text="${task.getDescription()}"></span>
    </h3>
    <span class="row justify-content-md-left p-2">
        <a class="btn offset-md-1 btn-primary" th:href="@{'/task/' + ${task.getId()} + '/attempt/add'}">Make an attempt</a>
        <a class="btn btn-primary" th:href="@{'/task/' + ${task.getId()} + '/test/all'}">View tests</a>
        <a class="btn btn-info" th:href="@{'/task/' + ${task.getId()} + '/attempt/all'}">View all attempts for this task</a>
        <br>
        <span class="w-100"></span>
        <br>
        <a class="btn offset-md-1 btn-outline-warning" th:href="@{'/task/all'}">Back to the list of tasks</a>
        <a class="btn btn-outline-danger" th:href="@{'/main'}">Back to the main page</a>
        <a class="btn btn-secondary" th:href="@{'/task/' + ${task.id} + '/test/add'}">Add new test for this task</a>
    </span>
</body>
</html>