<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tests</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h2 class="row justify-content-md-center">
        <span class="col-md-auto">Tests:</span>
    </h2>
    <br>
    <ul th:each="test: ${tests}">
        <h3 class="row justify-content-md-center">
            <span class="col offset-md-1 w-75 p-2" th:text="'Id: &#34' + ${testStat.index} + '&#34, input: &#34' + ${test.input} + '&#34, output: &#34' + ${test.output} + '&#34&#59'"></span>
        </h3>
    </ul>
    <h3 class="row justify-content-md-left p-2">
        <span class="w-100"></span>
        <a class="btn offset-md-1 btn-outline-warning" th:href="@{'/task/' + ${taskId}}">To the task</a>
        <a class="btn btn-outline-danger" th:href="@{'/main'}">To the main page</a>
    </h3>
</body>
</html>